body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;    
    color: #777777;    
}
.container{    
    width: 90%;
    max-width: 600px;
    padding: 15px;
    margin:auto;
    margin-top: 50px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.innerContainer{
    padding: 15px;
    background-color: #fff;
    border-radius:10px;
}
.btnGroup{
    display:flex;
    justify-content:space-between;
}
.btn{
    padding: 10px 20px;
    border-radius: 50px;
    border: unset;
    color: white;
    background-color: #777777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border:1px solid #666;
    border-bottom-width:2px;
}
.btn:focus{
    outline: none;
    
}
.btn:active{
    transform: translateY(1px);
    filter: saturate(150%);
    border-bottom-width:1px;
}
.btn:hover{
    box-shadow: 2px 2px 3px 3px rgba(161,161,161,0.3);
    
}
.bgRed{
    background-color: rgb(180, 69, 69);
    border-color:  rgb(124, 47, 47);
}

.disabled{
    border-color: rgba(102,102,102,0.6);
    cursor: not-allowed;
    background-color: #eee;
    opacity: 0.6;
}
form{
    margin-bottom:5px;
}
#password{
    padding:15px;
    margin:auto;
    height: 100px;
    width: calc(100% - 32px);
    border: 2px dashed #444;
    border-radius: 10px;
    text-align:center;
    white-space: normal;
    word-break: break-all;
}
#password:focus{
    outline:none;
}
.lengthSlider{
    display: flex;
    width: calc(100% - 32px);
    flex-wrap:wrap;
    align-content:center;
}
#lengthLabel{
    flex-basis:100%;
    margin-bottom:10px;
}
#lengthSliderInput{
    flex-basis:80%;
}
#rangeValue{
    align-self: center;
    margin-left: 10px;
}
#validateAlert{
    color: red;    
    margin-left:5px;
}
#rangeValue{
    width: 30px;
}
small{
    color: #999;
}
.checkBoxes{
    margin-top:5px;
}
@media  only screen and (max-width:460px){
    .btnGroup{
        flex-wrap: wrap;
        justify-content: center;
    }
    .btn{
        margin: 0 20px;
    }
    #generate{             
        margin-bottom:10px;
       
    }
    .container{
        margin-top:0;
    }
    h1,h2{
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }
    #lengthSliderInput{
        flex-basis:70%;
    }
}

/*START OF SLIDER STYLE*/
#lengthSliderInput {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  #lengthSliderInput:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #lengthSliderInput::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(180, 69, 69); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #lengthSliderInput::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(180, 69, 69); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  /*END OF SLIDER STYLE*/